body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.task{
  margin: 1rem;
  background-color: white;
  box-shadow: 6px 4px 12px 1px rgba(0, 0, 0, 0.164);
  border-radius: 4px;
}
.task-header{
  padding: 1rem 0.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
}
.task-header> select{
  border-radius: 2px;
  border: 1px solid transparent;
  color: rgb(83, 83, 83);
}

.header-text{
  /* font-size: 1.05rem; */
  font-weight: bold;
}
.task-body{
  /* trouble */
  padding: 0.5rem;
}
.tasks-lists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

.task-list + .task-list{
  border-left: 8px solid rgb(255, 255, 255);
} 
.task-list{
  padding: 1rem;
}
.task-list-title{
  text-align: center;
}
.modal-invisible{
  display: none;
}
.modal-visible{
  display: block;
}
.modal-backdrop{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
.modal-body{
  position:fixed;
  z-index: 2;
  top: 20%;
  right:auto;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: white;
}

.taskForm > * + *{
  width: 100%;
  margin-top: 1rem;
  display:block;
  border: 1px solid gray;
}
.btn{
  position: fixed;
  top: 90%;
  left: 1%;
  z-index: 3;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  border: 2px solid blue;
  font-weight:bold;
  box-shadow: -1px 5px 25px -5px rgba(0,0,0,0.75);
  cursor: pointer;
}
.tasks-loading{
  background-color: rgba(255, 0, 0, 0.151);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}